<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <link href="../css/tailwind.css" rel="stylesheet">


</head>
<body>
    <img style="z-index: -1" src="../img/wall.jpg" class="w-full h-screen absolute">
    <nav class="flex h-32 items-center">
        <div class="flex-grow flex justify-center">
            <span class="text-3xl text-white font-bold">SNIPP</span>

        </div>
        <div class="justify-around flex-grow flex justify-between text-white">
            <span>Home</span>
            <span>About</span>
            <span>Service</span>
            <span>Contact</span>
        </div>
        <div class="flex-grow flex justify-center transform">
            <button class="flex border rounded-lg w-24 text-xl justify-center p-1 text-white hover:scale-110">Login</button>
        </div>
    </nav>


    <section class="h-64 flex justify-center mt-64">
        <p class="text-white font-bold text-6xl">
            Blockchain is the blueocean
        </p>
    </section>

</body>
</html>